<?xml version="1.0"?>
<config>
    <modules>
        <Sharpdot_SharpShippingByCustomerGroup>
            <version>0.1.2</version>
        </Sharpdot_SharpShippingByCustomerGroup>
    </modules>
    <admin />        
    <global>        
        <blocks>
            <sharpshippingbycustomergroup><class>Sharpdot_SharpShippingByCustomerGroup_Block</class></sharpshippingbycustomergroup>
        </blocks>
        <helpers>
            <sharpshippingbycustomergroup>
                <class>Sharpdot_SharpShippingByCustomerGroup_Helper</class>
            </sharpshippingbycustomergroup>
        </helpers>
        <models>
            <sharpshippingbycustomergroup>
                <class>Sharpdot_SharpShippingByCustomerGroup_Model</class>
                <resourceModel>sharpshippingbycustomergroup_mysql4</resourceModel>
            </sharpshippingbycustomergroup> 
            <sharpshippingbycustomergroup_mysql4>
            	<class>Sharpdot_SharpShippingByCustomerGroup_Model_Mysql4</class>
            </sharpshippingbycustomergroup_mysql4>
            
            <shipping>
            	<rewrite>
            		<rate_request>Sharpdot_SharpShippingByCustomerGroup_Model_Shipping_Rate_Request</rate_request>
            	</rewrite>
            </shipping>
        </models>
        <resources>
            <sharpshippingbycustomergroup_setup>
                <setup>
                    <module>Sharpdot_SharpShippingByCustomerGroup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sharpshippingbycustomergroup_setup>
            <sharpshippingbycustomergroup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sharpshippingbycustomergroup_write>
            <sharpshippingbycustomergroup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sharpshippingbycustomergroup_read>
        </resources>             
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Sharpdot_SharpShippingByCustomerGroup>
                    <files>
                        <default>Sharpdot_SharpShippingByCustomerGroup.csv</default>
                    </files>
                </Sharpdot_SharpShippingByCustomerGroup>
            </modules>
        </translate>
        <acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <sharpshippingbycustomergroup translate="title" module="sharpshippingbycustomergroup">
	                                        <title>Shipping Methods By Customer Group Section</title>
	                                    </sharpshippingbycustomergroup>	                                    
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
    </adminhtml>
    <frontend>    	
        <translate>
            <modules>
                <Sharpdot_SharpShippingByCustomerGroup>
                    <files>
                        <default>Sharpdot_SharpShippingByCustomerGroup.csv</default>
                    </files>
                </Sharpdot_SharpShippingByCustomerGroup>
            </modules>
        </translate>
      	<layout>
          <updates>
              <sharpshippingbycustomergroup module="Sharpdot_SharpShippingByCustomerGroup">
                  <file>sharpdot_sharpshippingbycustomergroup.xml</file>
              </sharpshippingbycustomergroup>
          </updates>
      	</layout>		
    </frontend>

    <default>
    	<sharpshippingbycustomergroup>
    		<settings>
    			<enabled>enabled</enabled>
    		</settings>
		</sharpshippingbycustomergroup>
	</default>
		        
</config>